/*reset css */
@import url(normalize.css);
@import url(base.css);
@import url(fonts.css);
@import url(fontface.css);
/*variable */
/*functional */
/*main css */
#wrapper {
  min-width: 1260px;
  min-height: 500px;
  overflow: hidden;
  font-size: 10px;
}

.inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}

/*header */
#header {
  position: relative;
  width: 100%;
  height: 137px;
  background: #0d1019;
  padding: 20px 0 0;
  z-index: 99;
}

.inner_hd {
  position: relative;
  width: 1260px;
  padding: 0 40px;
  margin: 0 auto;
  text-align: center;
}

.left_hd {
  width: 160px;
  float: left;
}
.left_hd h1 {
  position: relative;
  top: -18px;
}
.left_hd a {
  text-decoration: none;
}

.mid_hd {
  display: inline-block;
  min-width: 500px;
}
.mid_hd .search_box {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0;
  background: #fff;
  border-radius: 7px;
  margin-bottom: 20px;
}
.mid_hd .search_field {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  padding: 5px 60px 5px 10px;
  border-radius: 7px;
  font-size: 16px;
}
.mid_hd .search_btn {
  position: relative;
  background: #0d1019;
  width: 43px;
  height: 43px;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding: 0;
  text-align: center;
  right: 1px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  color: #fff;
  font-size: 26px;
  line-height: 24px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.mid_hd .search_btn:hover {
  opacity: 0.8;
}
.mid_hd #gnavi {
  width: 100%;
  letter-spacing: -4px;
}
.mid_hd .gnav_item {
  position: relative;
  display: inline-block;
  letter-spacing: normal;
}
.mid_hd .gnav_item:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 7px;
  width: 0;
  height: 3px;
  opacity: 0;
  background: #df9a08;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: opacity, width;
  -moz-transition-property: opacity, width;
  -o-transition-property: opacity, width;
  transition-property: opacity, width;
}
.mid_hd .gnav_item:hover .sub_gnav {
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 1.2s ease, top 0.3s linear;
  -moz-transition: opacity 1.2s ease, top 0.3s linear;
  -ms-transition: opacity 1.2s ease, top 0.3s linear;
  -o-transition: opacity 1.2s ease, top 0.3s linear;
  transition: opacity 1.2s ease, top 0.3s linear;
  top: 100%;
  visibility: visible;
}
.mid_hd .gnav_item:hover:before {
  width: 100%;
  opacity: 1;
}
.mid_hd .gnav_item > a {
  position: relative;
  font-family: "MyriadPro-Regular";
  display: block;
  padding: 10px 15px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 160%;
}
.mid_hd .sub_gnav {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 70%;
  height: 0;
  max-width: 280px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.mid_hd .sub_gnavItem {
  position: relative;
  min-width: 200px;
  max-width: 100%;
  -webkit-transition: top 0.8s ease;
  -moz-transition: top 0.8s ease;
  -ms-transition: top 0.8s ease;
  -o-transition: top 0.8s ease;
  transition: top 0.8s ease;
  border-bottom: 1px dashed #fff;
  background: rgba(13, 16, 25, 0.8);
  z-index: 0;
}
.mid_hd .sub_gnavItem:before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: opacity 1s ease, height 0.5s ease;
  -moz-transition: opacity 1s ease, height 0.5s ease;
  -ms-transition: opacity 1s ease, height 0.5s ease;
  -o-transition: opacity 1s ease, height 0.5s ease;
  transition: opacity 1s ease, height 0.5s ease;
  background: #df9a08;
  z-index: -1;
}
.mid_hd .sub_gnavItem:hover:before {
  height: 95%;
  opacity: 0.7;
}
.mid_hd .sub_gnavItem:last-child {
  border-bottom: none;
}
.mid_hd .sub_gnavItem a {
  display: block;
  font-family: "MyriadPro-Regular";
  text-decoration: none;
  font-size: 160%;
  color: #fff;
  padding: 10px 3px;
  text-align: center;
}

.right_hd {
  float: right;
}
.right_hd .login_hd {
  margin-top: 28px;
  cursor: pointer;
}
.right_hd .login_hd:hover {
  opacity: 0.7;
}
.right_hd .login_hd > span {
  font-family: "MyriadPro-Regular";
  color: #fff;
  vertical-align: middle;
}
.right_hd .login_hd .login_txt {
  font-size: 160%;
}
.right_hd .login_hd i {
  position: relative;
  top: -2px;
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.opia_contact01 {
  display: inline-block;
  height: 45px;
  min-width: 140px;
  overflow: hidden;
  border: 1px solid #fff;
}
.opia_contact01 .contact_item {
  width: 70px;
  height: 100%;
  float: left;
}
.opia_contact01 .contact_item a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 26px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
.opia_contact01 .contact_item a:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.opia_contact01 .contact_item a:hover:before {
  opacity: 0.3;
}
.opia_contact01 .contact_item a:hover i {
  color: #0d1019;
  text-shadow: white 1px 0px 0px, white 0.540302px 0.841471px 0px, white -0.416147px 0.909297px 0px, white -0.989992px 0.14112px 0px, white -0.653644px -0.756802px 0px, white 0.283662px -0.958924px 0px, white 0.96017px -0.279415px 0px;
}
.opia_contact01 .contact_item i {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

#mainvisual {
  position: relative;
  background: url(../images/em_2.jpg) center/cover no-repeat;
  height: calc(100vh - 137px);
  z-index: 0;
}
#mainvisual .mainvs_dark {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  background: #0d1019;
  -webkit-transition: 1.5s ease-in;
  -moz-transition: 1.5s ease-in;
  -ms-transition: 1.5s ease-in;
  -o-transition: 1.5s ease-in;
  transition: 1.5s ease-in;
  z-index: 2;
}
#mainvisual:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/em_2.jpg") center/cover no-repeat;
  z-index: 0;
}
#mainvisual .firefly01, #mainvisual .firefly02 {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-image: url("../images/firefly_bg01.png"), url("../images/firefly_bg02.png");
  background-position: 0 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: background-position 130s ease, opacity 0.5s ease-out;
  -moz-transition: background-position 130s ease, opacity 0.5s ease-out;
  -ms-transition: background-position 130s ease, opacity 0.5s ease-out;
  -o-transition: background-position 130s ease, opacity 0.5s ease-out;
  transition: background-position 130s ease, opacity 0.5s ease-out;
}
#mainvisual .firefly02 {
  background-image: url("../images/firefly_bg03.png"), url("../images/firefly_bg04.png");
  -webkit-transition: background-position 135s ease, opacity 0.3s ease-out;
  -moz-transition: background-position 135s ease, opacity 0.3s ease-out;
  -ms-transition: background-position 135s ease, opacity 0.3s ease-out;
  -o-transition: background-position 135s ease, opacity 0.3s ease-out;
  transition: background-position 135s ease, opacity 0.3s ease-out;
}
#mainvisual h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 478px;
  z-index: 1;
}

.box01 {
  height: 450px;
  overflow: hidden;
  padding: 20px;
  background: url("../images/b01_bg01.png") center no-repeat;
}

.b01_left {
  width: 300px;
  height: 100%;
  float: left;
}

.left_sl01 {
  width: 100%;
  height: 290px;
  overflow: hidden;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: -8px 8px 12px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 8px 12px -7px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 8px 12px -7px rgba(0, 0, 0, 0.5);
}

.sl_item01 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.b01_right {
  width: 800px;
  float: right;
  position: relative;
  top: 28px;
  -webkit-box-shadow: 8px 8px 12px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 8px 8px 12px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 8px 8px 12px -7px rgba(0, 0, 0, 0.3);
}
.b01_right:before {
  content: "";
  display: block;
  width: 100px;
  height: 150px;
  opacity: 0.7;
  position: absolute;
  right: -1px;
  top: 0;
  background: url("../images/b01_light01.png") 101.5% 0/100% auto no-repeat;
  z-index: 1;
}

.index_h3 {
  position: relative;
  display: inline-block;
  min-width: 200px;
  font-family: "MyriadPro-Bold";
  font-size: 240%;
  text-align: center;
  color: #fff;
  background: #f2d537;
  padding: 10px 50px 10px 30px;
  margin-bottom: 10px;
}
.index_h3:before {
  content: "";
  display: block;
  position: absolute;
  left: -18px;
  bottom: 0;
  width: 45px;
  height: 100px;
  background: url("../images/ttl_icon01.png") center bottom/contain no-repeat;
}
.index_h3:after {
  content: "";
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  right: -20px;
  top: 0;
  -webkit-transform: skew(-25deg, 0deg);
  -moz-transform: skew(-25deg, 0deg);
  -ms-transform: skew(-25deg, 0deg);
  -o-transform: skew(-25deg, 0deg);
  transform: skew(-25deg, 0deg);
  background: #f2d537;
  border-left: 10px solid #fff;
}

.index_h4 {
  display: inline-block;
  min-width: 190px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -32px;
  z-index: 0;
}
.index_h4:before, .index_h4:after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 31px;
  bottom: 2px;
  z-index: -1;
}
.index_h4:before {
  background: url("../images/blue_ttlIcon01.png") center/contain no-repeat;
  left: -15px;
}
.index_h4:after {
  background: url("../images/blue_ttlIcon02.png") center/contain no-repeat;
  right: -15px;
}
.index_h4 span {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  overflow: hidden;
  padding: 10px 30px;
  font-family: "MyriadPro-Bold";
  font-size: 200%;
  color: #fff;
  text-align: center;
  background: #0d1019;
}
.index_h4 span:before {
  content: "";
  display: block;
  width: 100%;
  height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}

.skin_h4:before {
  background: url("../images/skin_ttlIcon01.png") center/contain no-repeat;
}
.skin_h4:after {
  background: url("../images/skin_ttlIcon02.png") center/contain no-repeat;
}
.skin_h4 span {
  background: #bda074;
}

.b01_content {
  position: relative;
  width: 100%;
  height: 320px;
  background-image: url("../images/b01_item01.png"), url("../images/b01_item02.png"), url("../images/b01_item03.png"), url("../images/b01_item04.png");
  background-position: 5% 30%, 40% 100%, 60% 20%, 120% 50%;
  background-size: 120px auto, 120px auto, 120px auto, 300px auto;
  background-repeat: no-repeat;
  padding: 30px;
  z-index: 0;
  -webkit-transition: 0s ease;
  -moz-transition: 0s ease;
  -ms-transition: 0s ease;
  -o-transition: 0s ease;
  transition: 0s ease;
}
.b01_content:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.b01_content p {
  font-family: "MyriadPro-BoldCondIt";
  display: inline-block;
  font-size: 220%;
  color: #0d1019;
  text-align: center;
  line-height: 30px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*index */
.index .box02 {
  position: relative;
  padding: 80px 0 60px 0;
  background: url("../images/box02_bg01.jpg") center/cover no-repeat;
  background-position: center 70%;
  z-index: 0;
}
.index .box02:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 16, 25, 0.3);
  z-index: -1;
}
.index .b02_content {
  position: relative;
  padding: 30px 0 40px 0;
  background: rgba(13, 16, 25, 0.6);
}
.index .sp_slider .flickity-page-dots {
  bottom: -30px;
}
.index .sp_slider .flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
}
.index .sp_slider .flickity-page-dots .dot.is-selected {
  background: rgba(255, 165, 0, 0.7);
}
.index .sp_item {
  width: 205px;
  float: left;
  margin-right: 120px;
}
.index .sp_item a {
  display: block;
  text-decoration: none;
}
.index .sp_item .sp_slImg {
  position: relative;
  display: block;
  width: 100%;
  height: 205px;
  margin-bottom: 20px;
}
.index .sp_item .sp_slImg img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.index .sp_item .sp_title {
  font-family: "MyriadPro-CondIt";
  display: inline-block;
  width: 100%;
  font-size: 200%;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
}
.index .box03 {
  position: relative;
  padding: 80px 0 50px;
  background: url("../images/b03_bg01.jpg") center/cover;
  z-index: 0;
}
.index .box03 .inner {
  padding: 0 20px;
}
.index .box03:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
.index .box03 .b03_content {
  position: relative;
  padding: 50px 30px 30px;
  background: url("../images/post_icon07.png"), url("../images/post_icon06.png"), url("../images/post_icon05.png"), url("../images/post_icon04.png"), url("../images/post_icon03.png");
  background-repeat: no-repeat;
  background-size: 99px 86px, 137px 139px, 189px 148px, 96px 101px, 180px 186px;
  background-position: 90% 120%, 80% 70%, 38% 110%, 20% 75%, 15% 55%;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 5px 17px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 5px 17px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 17px -1px rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.index .box03 .b03_content:before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.index .box03 .b03_content:after {
  content: "";
  display: block;
  width: 110%;
  height: 112px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -45px;
  background: url("../images/post_icon01.png"), url("../images/post_icon02.png");
  background-position: left 30px center, right center;
  background-size: contain;
  background-repeat: no-repeat;
}
.index .post_list {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.index .post_item {
  width: 500px;
  height: 150px;
  float: left;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  margin-right: 80px;
  margin-top: 30px;
  padding-right: 15px;
}
.index .post_item:nth-child(2n+2) {
  margin-right: 0;
}
.index .post_item:nth-child(-n+2) {
  margin-top: 0;
}
.index .post_item a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.index .post_item .post_image {
  position: relative;
  width: 150px;
  height: 100%;
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
.index .post_item .post_image img {
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.index .post_item .post_ttl {
  font-family: "MyriadPro-BoldCondIt";
  display: block;
  color: #0d1019;
  font-size: 240%;
  margin-bottom: 10px;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.index .post_item .post_cnt {
  font-family: "MyriadPro-CondIt";
  display: block;
  font-size: 200%;
  color: #0d1019;
  line-height: 30px;
}
.index .full_width .post_item {
  width: 100%;
  float: none;
  margin: 0 0 30px 0;
}
.index .full_width .post_item:last-child {
  margin-bottom: 0;
}
.index .dark_item .post_item {
  background: rgba(13, 16, 25, 0.6);
}
.index .dark_item .post_ttl, .index .dark_item .post_cnt {
  color: #fff;
}
.index .custom_posttl .post_ttl {
  display: inline-block;
  max-width: 80%;
  margin-right: 15px;
  vertical-align: middle;
}
.index .custom_posttl .post_date {
  display: inline-block;
  font-family: "MyriadPro-Cond";
  font-size: 200%;
  color: #a7a8ac;
  vertical-align: middle;
}
.index .box04 {
  position: relative;
  background: url("../images/b04_bg01.jpg") center/cover;
  padding: 80px 0 50px;
  z-index: 0;
}
.index .box04 .b04_bg {
  width: 100%;
  height: 100%;
  background: url("../images/b045_icon01.png"), url("../images/b045_icon02.png"), url("../images/b045_icon03.png"), url("../images/b045_icon04.png"), url("../images/b045_icon05.png");
  background-size: 154px 117.5px, 144px 142px, 86px 97px, 96.5px 83.5px, 131px 121px;
  background-position: 20% 55%, 50% 75%, 85% 60%, 30% 100%, 70% 120%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.index .box04 .inner {
  padding: 0 20px;
}
.index .box04:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 16, 25, 0.3);
  z-index: -1;
}
.index .b04_content {
  position: relative;
  background: rgba(13, 16, 25, 0.5);
  padding: 50px 30px 30px;
  -webkit-box-shadow: 0px 4px 17px -1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 4px 17px -1px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 17px -1px rgba(255, 255, 255, 0.3);
  z-index: 0;
}
.index .box05 {
  position: relative;
  padding: 80px 0 50px;
  background: url("../images/b05_bg01.jpg") center/cover no-repeat;
  background-position: center 70%;
  z-index: 0;
}
.index .box05 .inner {
  padding: 0 20px;
}
.index .box05:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 16, 25, 0.3);
  z-index: -1;
}
.index .b05_content {
  position: relative;
  background: rgba(13, 16, 25, 0.5);
  height: 425px;
  padding: 50px 10px 30px;
  -webkit-box-shadow: 0px 4px 17px -1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 4px 17px -1px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 17px -1px rgba(255, 255, 255, 0.2);
  z-index: 0;
}
.index .b05_content .post_list {
  padding: 0 20px;
}
.index .b05_content .os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(255, 255, 255, 0.7);
}
.index .b05_content .os-theme-dark > .os-scrollbar, .index .b05_content .os-theme-light > .os-scrollbar {
  padding: 2px 0;
}

#footer {
  background: #0d1019 url("../images/footer_bg01.png") center bottom;
  background-repeat: repeat no-repeat;
  padding: 50px 0;
  overflow: hidden;
}
#footer .fixed_items {
  position: fixed;
  right: 2%;
  bottom: 10%;
  width: 50px;
  z-index: 5;
}
#footer .fixed_items .totop {
  display: inline-block;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 98;
}
#footer .fixed_items .totop button {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background: #0d1019;
  border: none;
  outline: none;
  border: 1px solid #fff;
  cursor: pointer;
}
#footer .fixed_items .totop button:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% - 6px);
}
#footer .fixed_items .show {
  opacity: 1;
}
#footer .fixed_contact {
  margin-bottom: 12px;
}
#footer .f_left {
  width: 390px;
  float: left;
}
#footer .f_logo {
  width: 160px;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#footer .f_ttl01 {
  display: inline-block;
  font-family: "MyriadPro-BoldCond";
  font-size: 220%;
  color: #fff;
  margin-bottom: 10px;
}
#footer .contact_infor {
  margin-bottom: 20px;
}
#footer .contact_line {
  white-space: nowrap;
  margin-bottom: 7px;
}
#footer .contact_line:last-child {
  margin-bottom: 0;
}
#footer .contact_line .first_txt {
  display: inline-block;
  font-family: "MyriadPro-Cond";
  font-size: 200%;
  color: #fff;
  margin-right: 10px;
}
#footer .contact_line .last_txt {
  display: inline-block;
  font-family: "MyriadPro-CondIt";
  font-size: 200%;
  color: #fff;
}
#footer .f_right {
  width: 770px;
  float: right;
}
#footer .contact_society {
  margin-bottom: 11px;
  overflow: hidden;
}
#footer .fb_fanpage, #footer .gg_map {
  width: 300px;
  height: 250px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  background: #fff;
}
#footer .fb_fanpage iframe, #footer .gg_map iframe {
  width: 100%;
  height: 100%;
}
#footer .gg_map {
  width: 450px;
  margin-right: 0;
}
#footer .calendar_txt {
  font-family: "MyriadPro-BoldCond";
  font-size: 220%;
  color: #fff;
  margin-bottom: 11px;
}
#footer .calendar_tbl {
  width: 100%;
}
#footer .calendar_tbl th, #footer .calendar_tbl td {
  padding: 5px;
  width: 14.3%;
  vertical-align: middle;
}
#footer .calendar_tbl th {
  font-family: "MyriadPro-BoldCondIt";
  background: #f2d537;
  font-size: 200%;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
}
#footer .calendar_tbl td {
  background: #fff;
  font-size: 200%;
  color: #0d1019;
  text-align: center;
  border: 1px solid #fff;
}
#footer .calendar_tbl td span {
  font-family: "MyriadPro-BoldCondIt";
}

/*under */
.image_l {
  float: left;
  margin: 0 10px 10px 0;
  vertical-align: bottom;
}

.image_r {
  float: right;
  margin: 0 0 10px 10px;
  vertical-align: bottom;
}

.under .title-page {
  font-size: 36px;
  position: relative;
  color: #5e5e5e;
  font-family: "MyriadPro-BoldCond";
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  line-height: normal;
}
.under .product {
  width: 1170px;
  margin: auto;
  padding: 50px 0;
}
@media screen and (max-width: 992px) {
  .under .product {
    width: 100%;
    padding: 0 7px;
  }
}
@media screen and (max-width: 640px) {
  .under .product {
    padding: 50px 3%;
  }
}
.under .product .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.under .product .row .item {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 15px;
  padding: 0 8px;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .under .product .row .item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 520px) {
  .under .product .row .item {
    max-width: none;
    flex: unset;
    width: 80%;
    margin: 0 auto 20px;
  }
  .under .product .row .item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .under .product .row .item {
    width: 100%;
  }
}
.under .product .row .item .ct-item {
  border: 1px dashed rgba(61, 61, 61, 0.5);
  border-radius: 10px;
  overflow: hidden;
}
.under .product .row .item .ct-item .img-item {
  position: relative;
  height: 180px;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .under .product .row .item .ct-item .img-item {
    height: 160px;
  }
}
.under .product .row .item .ct-item .img-item img {
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.under .product .row .item .ct-item .img-item:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0);
  transition: all 500ms ease-out;
  z-index: 10;
}
.under .product .row .item .ct-item .img-item .border-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  padding: 12px;
  display: block;
}
.under .product .row .item .ct-item .img-item .border-line div {
  position: relative;
  width: 100%;
  height: 100%;
}
.under .product .row .item .ct-item .img-item .border-line div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 1px;
  height: 0;
  transition: all 0.2s ease-out;
  transition-delay: 0.2s;
  background: #fff;
  z-index: 99;
}
.under .product .row .item .ct-item .img-item .border-line div:before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 1px;
  width: 0;
  transition: all 0.2s ease-out;
  background: #fff;
  z-index: 99;
}
.under .product .row .item .ct-item .img-item .border-line div .linert {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 0;
  transition: all 0.2s linear;
  background: #fff;
  display: inline-block;
  z-index: 99;
}
.under .product .row .item .ct-item .img-item .border-line div .linerbt {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: 1px;
  width: 0;
  transition: all 0.2s linear;
  transition-delay: 0.2s;
  background: #fff;
  display: inline-block;
  z-index: 99;
}
.under .product .row .item .ct-item .description {
  padding: 15px 0px 0px 0px;
  background: #f6f6f6;
}
.under .product .row .item .ct-item .description .product_ttl01 {
  font-size: 24px;
  font-family: "MyriadPro-BoldCondIt";
  padding: 0 10px;
}
.under .product .row .item .ct-item .description .product_ttl01 a {
  color: #333;
  text-decoration: none;
}
.under .product .row .item .ct-item .description .product_cnt01 {
  margin-top: 5px;
  font-size: 20px;
  padding: 0 10px;
  font-weight: normal;
  line-height: 1.3;
  font-family: "MyriadPro-CondIt";
}
.under .product .row .item .ct-item .description .items-count {
  border-top: 1px solid rgba(61, 61, 61, 0.5);
  font-size: 18px;
  margin-top: 10px;
  padding: 12px 10px 10px 10px;
  font-family: "MyriadPro-CondIt";
  color: #df9a08;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.under .product .row .item .ct-item .description .items-count span i {
  cursor: pointer;
  font-size: 18px;
  transition: all 300ms ease;
  display: inline-block;
  font-weight: both;
  color: #5e5e5e;
  vertical-align: middle;
  margin-bottom: 3px;
}
.under .product .row .item .ct-item .description .items-count span .icon-heart {
  padding-left: 10px;
}
.under .product .row .item .ct-item .description .items-count span .icon-heart:hover {
  color: #e42329;
}
.under .product .row .item .ct-item .description .items-count span .active-heart {
  color: #e42329;
  transform: scale(1.1);
}
.under .product .row .item .ct-item .description .items-count span .icon-like:hover {
  color: #3578e5;
}
.under .product .row .item .ct-item .description .items-count span .active-like {
  color: #3578e5;
  transform: scale(1 0.7ssss) rotate(0deg);
}
.under .product .row .item .ct-item:hover .img-item .border-line div:after {
  height: 100%;
}
.under .product .row .item .ct-item:hover .img-item .border-line div:before {
  width: 100%;
}
.under .product .row .item .ct-item:hover .img-item .border-line div .linert {
  height: 100%;
}
.under .product .row .item .ct-item:hover .img-item .border-line div .linerbt {
  width: 100%;
}
.under .product .row .item .ct-item:hover .img-item:before {
  background: rgba(0, 0, 0, 0.5);
}
.under .product-details {
  width: 1180px;
  margin: auto;
  padding: 50px 0 0 0;
}
@media screen and (max-width: 992px) {
  .under .product-details {
    width: 100%;
    padding: 0 7px;
  }
}
@media screen and (max-width: 640px) {
  .under .product-details {
    padding: 50px 3% 0;
  }
}
.under .product-details .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.under .product-details .row .item-detail {
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .under .product-details .row .item-detail {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.under .product-details .row .item-detail img {
  width: 100%;
  transition: all 500ms ease-out;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .under .product-details .row .item-detail {
    max-width: 50%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 520px) {
  .under .product-details .row .item-detail {
    max-width: 80%;
  }
}
.under .product-details .row .imfor-detail {
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  padding-left: 15px;
}
@media screen and (max-width: 992px) {
  .under .product-details .row .imfor-detail {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
  }
}
.under .product-details .row .imfor-detail h3 {
  font-size: 24px;
  font-family: "MyriadPro-BoldCondIt";
}
.under .product-details .row .imfor-detail h4 {
  font-size: 20px;
  font-family: "MyriadPro-Cond";
  margin-top: 15px;
  line-height: 1.5;
}
.under .product-details .row .imfor-detail h5 {
  font-size: 20px;
  font-family: "MyriadPro-BoldCond";
  margin-top: 15px;
  line-height: 1.7;
}
.under .product-details .row .imfor-detail .items-count {
  border-top: 1px solid rgba(61, 61, 61, 0.5);
  font-size: 15px;
  margin-top: 25px;
  padding: 10px 60% 10px 0px;
  font-family: "MyriadPro-CondIt";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .under .product-details .row .imfor-detail .items-count {
    padding: 10px 0 10px 0;
  }
}
.under .product-details .row .imfor-detail .items-count span {
  font-size: 20px;
  color: #df9a08;
}
.under .product-details .row .imfor-detail .items-count span i {
  cursor: pointer;
  font-size: 18px;
  transition: all 300ms ease-out;
  display: inline-block;
  font-weight: both;
  color: #333;
}
.under .product-details .row .imfor-detail .items-count span .icon-heart {
  padding-left: 10px;
}
.under .product-details .row .imfor-detail .items-count span .icon-heart:hover {
  transform: scale(1.1);
  color: #e42329;
}
.under .product-details .row .imfor-detail .items-count span .active-heart {
  color: #e42329;
  transform: scale(1.1);
}
.under .product-details .row .imfor-detail .items-count span .icon-like:hover {
  color: #3578e5;
  transform: scale(1.1) rotate(-20deg);
}
.under .product-details .row .imfor-detail .items-count span .active-like {
  color: #3578e5;
  transform: scale(1.1) rotate(0deg);
}
.under .product-details .row .imfor-detail .promotion {
  border-top: 1px solid rgba(61, 61, 61, 0.5);
  padding: 10px 0;
  font-size: 20px;
  font-family: "MyriadPro-Cond";
  line-height: 1.6;
}
.under .product-details .comment {
  border: 1px solid rgba(61, 61, 61, 0.5);
  margin-top: 30px;
  padding: 0 12px;
}
@media screen and (max-width: 640px) {
  .under .product-details .comment {
    padding: 0;
  }
}
.under .product-details .comment .user-typecm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0;
  height: 80px;
}
@media screen and (max-width: 640px) {
  .under .product-details .comment .user-typecm {
    padding: 15px;
  }
}
.under .product-details .comment .user-typecm .avatar {
  width: 55px;
  height: 55px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.under .product-details .comment .user-typecm .avatar img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: center;
  border-radius: 50%;
}
.under .product-details .comment .user-typecm .type-txt {
  flex-grow: 4;
  padding: 0 15px;
}
@media screen and (max-width: 640px) {
  .under .product-details .comment .user-typecm .type-txt {
    padding: 0;
  }
}
.under .product-details .comment .user-typecm .type-txt textarea {
  width: 100%;
  height: 100%;
  font-family: "MyriadPro-Cond";
  font-size: 19px;
  border-radius: 5px;
  outline: none;
  resize: none;
  padding: 5px;
}
.under .product-details .comment .user-typecm .sendcomment {
  flex-grow: 0.5;
}
@media screen and (max-width: 640px) {
  .under .product-details .comment .user-typecm .sendcomment {
    margin-left: 10px;
  }
}
.under .product-details .comment .user-typecm .sendcomment button {
  width: 100%;
  height: 100%;
  background: #df9a08;
  padding: 18px 25px 10px 25px;
  border: none;
  outline: none;
  color: #fff;
  font-family: "MyriadPro-BoldCond";
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .under .product-details .comment .user-typecm .sendcomment button {
    padding: 5px 25px 0 25px;
  }
}
.under .product-details .comment .user-typecm .sendcomment button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 520px) {
  .under .product-details .comment .user-typecm .sendcomment button {
    padding: 18px 5px 10px 5px;
  }
}
.under .product-details .comment .showcomment {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px dashed rgba(61, 61, 61, 0.5);
  padding: 15px 0;
}
.under .product-details .comment .showcomment .avatar {
  width: 55px;
  height: 55px;
}
.under .product-details .comment .showcomment .avatar img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: center;
  border-radius: 50%;
}
.under .product-details .comment .showcomment .type-txt {
  flex-grow: 4;
  padding: 0 0 0 10px;
  width: calc(100% - 55px);
}
.under .product-details .comment .showcomment .type-txt .textarea {
  width: 100%;
  font-family: "MyriadPro-Cond";
  font-size: 19px;
  border-radius: 5px;
  outline: none;
  resize: none;
  padding: 5px;
  border: none;
}
@media screen and (max-width: 992px) {
  .under .product-details .comment .showcomment .type-txt .textarea {
    height: 100px;
    display: inline-block;
  }
}
.under .product-details .comment .showcomment .type-txt .nameuser {
  font-size: 20px;
  font-family: "MyriadPro-BoldCond";
}
.under .product-details .comment .showcomment .type-txt span {
  padding-left: 5px;
  font-family: "MyriadPro-CondIt";
  font-size: 17px;
  color: #df9a08;
}
.under .slide-general .icon_pre {
  position: absolute;
  top: 45%;
  left: -25px;
  transform: translateY(-50%);
  cursor: pointer;
}
.under .slide-general .icon_next {
  position: absolute;
  top: 45%;
  right: -25px;
  transform: translateY(-50%);
  cursor: pointer;
}
.under .product-relat {
  width: 1180px;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .under .product-relat {
    width: 100%;
    padding: 0 7px;
  }
}
@media screen and (max-width: 640px) {
  .under .product-relat {
    padding: 0 3%;
  }
}
.under .product-relat > h3 {
  margin-top: 45px;
  margin-bottom: 50px;
  font-size: 36px;
  position: relative;
  color: #df9a08;
  font-family: "MyriadPro-BoldCond";
}
.under .product-relat > h3:after {
  width: 100px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -20px;
  content: "";
  background: #df9a08;
}
.under .product-relat .listPdrelat {
  padding-bottom: 50px;
}
.under .product-relat .listPdrelat .flickity-page-dots {
  bottom: 25px;
}
.under .product-relat .listPdrelat .flickity-page-dots .dot {
  width: 15px;
  height: 15px;
}
@media screen and (max-width: 425px) {
  .under .product-relat .listPdrelat {
    padding: 0 7%;
  }
}
.under .product-relat .listPdrelat .item {
  width: 280px;
  float: left;
  margin: 0 10px;
  padding: 0 8px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 640px) {
  .under .product-relat .listPdrelat .item {
    width: 49%;
    margin: 0 1%;
    padding: 0;
  }
}
@media screen and (max-width: 425px) {
  .under .product-relat .listPdrelat .item {
    width: 100%;
  }
}
.under .product-relat .listPdrelat .item .ct-item {
  border: 1px dashed rgba(61, 61, 61, 0.5);
  border-radius: 10px;
  overflow: hidden;
}
.under .product-relat .listPdrelat .item .ct-item .img-item {
  position: relative;
  height: 150px;
  overflow: hidden;
}
.under .product-relat .listPdrelat .item .ct-item .img-item img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  transition: all 500ms ease-out;
}
.under .product-relat .listPdrelat .item .ct-item .img-item:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0);
  transition: all 500ms ease-out;
  z-index: 10;
}
.under .product-relat .listPdrelat .item .ct-item .img-item .border-line {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  padding: 12px;
}
.under .product-relat .listPdrelat .item .ct-item .img-item .border-line div {
  position: relative;
  width: 100%;
  height: 100%;
}
.under .product-relat .listPdrelat .item .ct-item .img-item .border-line div:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 1px;
  height: 0;
  -webkit-transition: 0.2s ease-out 0.2s;
  -moz-transition: 0.2s ease-out 0.2s;
  -ms-transition: 0.2s ease-out 0.2s;
  -o-transition: 0.2s ease-out 0.2s;
  transition: 0.2s ease-out 0.2s;
  background: #fff;
  z-index: 99;
}
.under .product-relat .listPdrelat .item .ct-item .img-item .border-line div:before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 0;
  height: 1px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background: #fff;
  z-index: 99;
}
.under .product-relat .listPdrelat .item .ct-item .img-item .border-line div .linert {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 1px;
  height: 0;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  background: #fff;
  z-index: 99;
}
.under .product-relat .listPdrelat .item .ct-item .img-item .border-line div .linerbt {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  -webkit-transition: 0.2s linear 0.2s;
  -moz-transition: 0.2s linear 0.2s;
  -ms-transition: 0.2s linear 0.2s;
  -o-transition: 0.2s linear 0.2s;
  transition: 0.2s linear 0.2s;
  background: #fff;
  z-index: 99;
}
.under .product-relat .listPdrelat .item .ct-item .description {
  padding: 15px 0px 0px 0px;
  background: #f6f6f6;
}
.under .product-relat .listPdrelat .item .ct-item .description .prodct_ttl01 {
  font-size: 24px;
  font-family: "MyriadPro-BoldCondIt";
  padding: 0 10px;
}
.under .product-relat .listPdrelat .item .ct-item .description .prodct_ttl01 a {
  color: #333;
  text-decoration: none;
}
.under .product-relat .listPdrelat .item .ct-item .description h4 {
  margin-top: 5px;
  font-size: 20px;
  padding: 0 10px;
  font-weight: normal;
  line-height: 1.3;
  font-family: "MyriadPro-CondIt";
}
.under .product-relat .listPdrelat .item .ct-item .description .items-count {
  border-top: 1px solid rgba(61, 61, 61, 0.5);
  font-size: 18px;
  margin-top: 10px;
  padding: 12px 10px 10px 10px;
  font-family: "MyriadPro-CondIt";
  color: #df9a08;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.under .product-relat .listPdrelat .item .ct-item .description .items-count span i {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: both;
  color: #5e5e5e;
}
.under .product-relat .listPdrelat .item .ct-item .description .items-count span .icon-heart {
  padding-left: 10px;
}
.under .product-relat .listPdrelat .item .ct-item .description .items-count span .icon-heart:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #e42329;
}
.under .product-relat .listPdrelat .item .ct-item .description .items-count span .active-heart {
  color: #e42329;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.under .product-relat .listPdrelat .item .ct-item .description .items-count span .icon-like:hover {
  color: #3578e5;
  -webkit-transform: scale(1.1) rotate(-20deg);
  -moz-transform: scale(1.1) rotate(-20deg);
  -ms-transform: scale(1.1) rotate(-20deg);
  -o-transform: scale(1.1) rotate(-20deg);
  transform: scale(1.1) rotate(-20deg);
}
.under .product-relat .listPdrelat .item .ct-item .description .items-count span .active-like {
  color: #3578e5;
  -webkit-transform: scale(1 0.7ssss) rotate(0deg);
  -moz-transform: scale(1 0.7ssss) rotate(0deg);
  -ms-transform: scale(1 0.7ssss) rotate(0deg);
  -o-transform: scale(1 0.7ssss) rotate(0deg);
  transform: scale(1 0.7ssss) rotate(0deg);
}
.under .product-relat .listPdrelat .item .ct-item:hover .img-item .border-line div:after {
  height: 100%;
}
.under .product-relat .listPdrelat .item .ct-item:hover .img-item .border-line div:before {
  width: 100%;
}
.under .product-relat .listPdrelat .item .ct-item:hover .img-item .border-line div .linert {
  height: 100%;
}
.under .product-relat .listPdrelat .item .ct-item:hover .img-item .border-line div .linerbt {
  width: 100%;
}
.under .product-relat .listPdrelat .item .ct-item:hover .img-item:before {
  background: rgba(0, 0, 0, 0.5);
}
.under .news {
  width: 1180px;
  margin: auto;
  padding-top: 10px;
  padding: 50px 0;
}
@media screen and (max-width: 992px) {
  .under .news {
    width: 100%;
    padding: 10px 7px 0px 7px;
  }
}
@media screen and (max-width: 640px) {
  .under .news {
    padding: 50px 3%;
  }
}
.under .news .content-news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.under .news .content-news .item-new {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 7px;
}
@media screen and (max-width: 992px) {
  .under .news .content-news .item-new {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 640px) {
  .under .news .content-news .item-new {
    margin-bottom: 20px;
  }
}
.under .news .content-news .item-new .ct-item-new {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer;
  background: #efefef;
  border: #0d1019 dashed 1px;
  padding: 7px;
  border-radius: 5px;
}
@media screen and (max-width: 640px) {
  .under .news .content-news .item-new .ct-item-new {
    border-radius: 10px;
  }
}
.under .news .content-news .item-new .ct-item-new .img {
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  max-height: 185px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 920px) {
  .under .news .content-news .item-new .ct-item-new .img {
    max-height: 250px;
  }
}
@media screen and (max-width: 520px) {
  .under .news .content-news .item-new .ct-item-new .img {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    max-height: none;
    height: 225px;
  }
  .under .news .content-news .item-new .ct-item-new .img img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.under .news .content-news .item-new .ct-item-new .img:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -ms-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
  background: rgba(0, 0, 0, 0);
  z-index: 99;
}
.under .news .content-news .item-new .ct-item-new .img img {
  width: 100%;
  display: block;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new {
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 0 0 0 7px;
}
@media screen and (max-width: 520px) {
  .under .news .content-news .item-new .ct-item-new .ct-txt-new {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 10px;
  }
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h3 {
  font-size: 20px;
  font-family: "MyriadPro-BoldCond";
  line-height: 1.2;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h3 a {
  color: #333;
  text-decoration: none;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h4 {
  margin-top: 5px;
  font-size: 18px;
  font-family: "MyriadPro-Cond";
  line-height: 1.3;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 {
  text-align: right;
  margin-top: 5px;
  text-align: center;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a {
  display: inline-block;
  padding: 3px;
  background: #0d1019;
  border-radius: 5px;
  cursor: pointer;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button {
  font-size: 18px;
  font-family: "MyriadPro-BoldCond";
  border: none;
  outline: none;
  position: relative;
  background: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button:after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 1px;
  height: 0;
  transition: all 0.1s linear;
  transition-delay: 0.1s;
  background: #fff;
  z-index: 99;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button:before {
  position: absolute;
  top: 0px;
  right: 0px;
  content: "";
  height: 1px;
  width: 0;
  transition: all 0.1s linear;
  background: #fff;
  z-index: 99;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button span {
  display: block;
  position: relative;
  padding: 5px 30px;
  overflow: hidden;
  cursor: pointer;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button span:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 0;
  transition: all 0.1s linear;
  transition-delay: 0.15s;
  background: #fff;
  display: inline-block;
  z-index: 99;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button span:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: 1px;
  width: 0;
  transition: all 0.1s linear;
  transition-delay: 0.2s;
  background: #fff;
  display: inline-block;
  z-index: 99;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button:hover:after {
  height: 100%;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button:hover:before {
  width: 100%;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button:hover span:after {
  height: 100%;
}
.under .news .content-news .item-new .ct-item-new .ct-txt-new h5 a button:hover span:before {
  width: 100%;
}
.under .news .content-news .item-new:hover .img img {
  transform: scale(1.1);
}
.under .news .content-news .item-new:hover .img:after {
  background: rgba(0, 0, 0, 0.5);
}
.under .new-relation {
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .under .new-relation {
    max-width: 100%;
    padding: 10px 7px 60px 7px;
  }
}
.under .new-relation > h3 {
  margin-top: 45px;
  margin-bottom: 50px;
  font-size: 36px;
  position: relative;
  color: #df9a08;
  font-family: "MyriadPro-BoldCond";
}
.under .new-relation > h3:after {
  position: absolute;
  width: 100px;
  height: 3px;
  content: "";
  background: #df9a08;
  left: 0;
  bottom: -20px;
}
.under .new-relation .list-newsrelat {
  margin-bottom: 15px;
}
.under .new-relation .list-newsrelat .flickity-page-dots {
  left: 0;
  bottom: -30px;
}
@media screen and (max-width: 640px) {
  .under .new-relation .list-newsrelat .flickity-page-dots {
    bottom: -40px;
  }
}
@media screen and (max-width: 520px) {
  .under .new-relation .list-newsrelat .flickity-page-dots {
    bottom: -40px;
  }
}
@media screen and (max-width: 480px) {
  .under .new-relation .list-newsrelat .flickity-page-dots {
    bottom: -50px;
  }
}
.under .new-relation .list-newsrelat .flickity-page-dots .dot {
  width: 15px;
  height: 15px;
}
@media screen and (max-width: 992px) {
  .under .new-relation .list-newsrelat {
    max-width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 640px) {
  .under .new-relation .list-newsrelat {
    padding: 0 15%;
  }
}
@media screen and (max-width: 520px) {
  .under .new-relation .list-newsrelat {
    padding: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .under .new-relation .list-newsrelat {
    padding: 0;
  }
}
@media screen and (max-width: 520px) {
  .under .new-relation .list-newsrelat .icon_pre {
    left: 7px;
  }
}
@media screen and (max-width: 520px) {
  .under .new-relation .list-newsrelat .icon_next {
    right: 7px;
  }
}
.under .new-relation .list-newsrelat .item-new {
  padding: 0 7px;
  outline: none;
  width: 380px;
  margin: 0 10px;
}
@media screen and (max-width: 640px) {
  .under .new-relation .list-newsrelat .item-new {
    width: 100%;
    margin: 0;
  }
}
.under .new-relation .list-newsrelat .item-new .ct-item-new {
  cursor: pointer;
  background: #efefef;
  border: #0d1019 dashed 1px;
  padding: 7px;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  .under .new-relation .list-newsrelat .item-new .ct-item-new {
    border-radius: 10px;
  }
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .img {
  overflow: hidden;
  position: relative;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 992px) {
  .under .new-relation .list-newsrelat .item-new .ct-item-new .img {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .img:after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.15s linear;
  background: rgba(0, 0, 0, 0);
  z-index: 99;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .img img {
  width: 100%;
  display: block;
  transition: all 0.2s ease-out;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new {
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  padding: 0 0 0 7px;
}
@media screen and (max-width: 992px) {
  .under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new .prodct_ttl02 {
  font-size: 20px;
  font-family: "MyriadPro-BoldCondIt";
  line-height: 1.2;
}
@media screen and (max-width: 992px) {
  .under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new .prodct_ttl02 {
    margin-top: 10px;
  }
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new .prodct_ttl02 a {
  color: #333;
  text-decoration: none;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h4 {
  margin-top: 5px;
  font-size: 18px;
  font-family: "MyriadPro-Cond";
  line-height: 1.3;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 {
  text-align: right;
  margin-top: 5px;
  text-align: center;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a {
  display: inline-block;
  padding: 3px;
  background: #0d1019;
  border-radius: 5px;
  cursor: pointer;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button {
  font-size: 18px;
  font-family: "MyriadPro-BoldCond";
  border: none;
  outline: none;
  position: relative;
  background: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button:after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 1px;
  height: 0;
  transition: all 0.1s linear;
  transition-delay: 0.1s;
  background: #fff;
  z-index: 99;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button:before {
  position: absolute;
  top: 0px;
  right: 0px;
  content: "";
  height: 1px;
  width: 0;
  transition: all 0.1s linear;
  background: #fff;
  z-index: 99;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button span {
  display: block;
  position: relative;
  padding: 5px 30px;
  overflow: hidden;
  cursor: pointer;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button span:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 0;
  transition: all 0.1s linear;
  transition-delay: 0.15s;
  background: #fff;
  display: inline-block;
  z-index: 99;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button span:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: 1px;
  width: 0;
  transition: all 0.1s linear;
  transition-delay: 0.2s;
  background: #fff;
  display: inline-block;
  z-index: 99;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button:hover:after {
  height: 100%;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button:hover:before {
  width: 100%;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button:hover span:after {
  height: 100%;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new .ct-txt-new h5 a button:hover span:before {
  width: 100%;
}
.under .new-relation .list-newsrelat .item-new .ct-item-new:hover .img:after {
  background: rgba(0, 0, 0, 0.5);
}
.under .contact {
  width: 100%;
  padding: 30px 0 0;
}
.under .contact .address {
  padding: 50px 0;
}
@media screen and (max-width: 640px) {
  .under .contact .address {
    padding: 50px 3%;
  }
}
.under .contact .address h3 {
  font-size: 36px;
  position: relative;
  color: #5e5e5e;
  font-family: "MyriadPro-BoldCond";
  text-align: center;
  margin-bottom: 30px;
  line-height: normal;
  text-transform: uppercase;
}
.under .contact .address h4 {
  font-size: 22px;
  color: #5e5e5e;
  font-family: "MyriadPro-CondIt";
  text-align: center;
  margin-bottom: 15px;
}
.under .contact .address h4 span {
  font-family: "MyriadPro-BoldCond";
}
.under .contact .map {
  margin-top: 40px;
  width: 100%;
  height: 450px;
}
.under .maker-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 320px;
}
.under .maker-info .img-maker {
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.under .maker-info .img-maker img {
  width: 100%;
  border-radius: 12px;
}
.under .maker-info .detail-maker {
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 12px 0 0 5px;
}
.under .maker-info .detail-maker h3 {
  font-size: 20px;
  color: #5e5e5e;
  font-family: "MyriadPro-BoldCond";
  text-transform: uppercase;
  margin-bottom: 8px;
}
.under .maker-info .detail-maker p {
  font-size: 18px;
  color: #5e5e5e;
  font-family: "MyriadPro-Cond";
}
.under .new-detail {
  width: 1180px;
  margin: auto;
  padding: 50px 0 0;
}
@media screen and (max-width: 992px) {
  .under .new-detail {
    max-width: 100%;
    padding: 10px 7px 0px 7px;
  }
}
@media screen and (max-width: 640px) {
  .under .new-detail {
    padding: 50px 3% 0;
  }
}
.under .new-detail .ct-new-detail {
  font-size: 20px;
  position: relative;
  color: #5e5e5e;
  font-family: "MyriadPro-Cond";
  line-height: 1.4;
}
.under .new-detail .ct-new-detail img {
  display: block;
  margin: 0 auto;
}

/*for IE,8,9,10 */
@media screen\0 {
  /*index */
  /*under */
}
/*for FF */
@-moz-document url-prefix() {
  /*index */
  /*under */
}

/*# sourceMappingURL=styles.css.map */
